@{
    ViewData["Title"] = "Home Page";
}


<h1 class="mt-4">Welcome to Student Course Enrollment</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Homepage</li>
</ol>

<div class="card mb-4">
    <div class="card-body">
        <p class="mb-0">
            Selamat datang di App
            <h3>Hello! @User.Identity.Name</h3>
        </p>
    </div>
</div>