@model FrontendMVC.Models.Course

@{
    ViewData["Title"] = "Update";
}

<h1 class="mt-4">Create Course</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item"><a asp-controller="Course" asp-action="Index">Course List</a></li>
    <li class="breadcrumb-item active">Update</li>
</ol>

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Update Course</h4>
            <form asp-action="Update">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3 mt-3">
                    <label asp-for="CourseID" class="control-label"></label>
                    <input asp-for="CourseID" class="form-control" readonly="readonly" />
                    <span asp-validation-for="CourseID" class="text-danger"></span>
                </div>
                <div class="mb-3 mt-3">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="mb-3 mt-3">
                    <label asp-for="Credits" class="control-label"></label>
                    <input asp-for="Credits" class="form-control" />
                    <span asp-validation-for="Credits" class="text-danger"></span>
                </div>
                <div class="mb-3 mt-3">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <div class="card mb-3">
            <a class="btn btn-info" asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
